.deps/
Makefile
awklib/.deps/
awklib/Makefile
config.h
config.log
config.status
doc/Makefile
libsigsegv/Makefile
libsigsegv/config.h
libsigsegv/config.log
libsigsegv/config.status
libsigsegv/libtool
libsigsegv/src/Makefile
libsigsegv/src/sigsegv.h
libsigsegv/stamp-h1
libsigsegv/termbold
libsigsegv/termnorm
libsigsegv/tests/Makefile
libtool
po/Makefile
po/Makefile.in
po/POTFILES
stamp-h1
test/Makefile

