*.[ao]
.deps/
Makefile
awklib/.deps/
awklib/Makefile
config.h
config.log
config.status
doc/Makefile
libsigsegv/Makefile
libsigsegv/config.h
libsigsegv/config.log
libsigsegv/config.status
libsigsegv/libtool
libsigsegv/src/Makefile
libsigsegv/src/sigsegv.h
libsigsegv/stamp-h1
libsigsegv/termbold
libsigsegv/termnorm
libsigsegv/tests/Makefile
libtool
po/Makefile
po/Makefile.in
po/POTFILES
stamp-h1
test/Makefile
autom4te.cache/
awklib/grcat
awklib/group.awk
awklib/igawk
awklib/passwd.awk
awklib/pwcat
gawk
libsigsegv/src/.libs/
libsigsegv/src/dispatcher.lo
libsigsegv/src/handler.lo
libsigsegv/src/leave.lo
libsigsegv/src/libsigsegv.la
libsigsegv/src/stackvma.lo
libsigsegv/src/version.lo
libsigsegv/tests/sigsegv1
libsigsegv/tests/sigsegv2
libsigsegv/tests/sigsegv3
libsigsegv/tests/stackoverflow1
libsigsegv/tests/stackoverflow2
pgawk
test/fmtspcl.ok

